@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-links, .right-links{
  list-style-type: none;
}

.left-links, .right-links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 8px;
}

li {
  padding: 8px;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: gray;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
}


.footer, a {
  color: #666;
}

.footer, a:hover{
  color: black;
}
